@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script:wght@700&family=Oswald:wght@200;300;400&family=Secular+One&display=swap');

#goods {
  width: 100%;
  background-color: white;
  height: 60px;
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
}

#goods ul {
  margin-left: -50px;
  list-style: none;
}

#goods ul li {
  margin-top: 15px;
}

#goods ul li a {
  justify-content: center;
  font-family: 'Caveat', cursive;
  font-size: 1.6em;
  color: rgb(216, 124, 237);
}

.mini-cart-img-span {
  margin-top: 15px;
  cursor: pointer;
}

.mini-cart:hover {
  scale: 1.1;
  transition-duration: 0.1s;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 13px;
  left: 19px;
  width: 12px;
  height: 14px;
  background-color: rgb(127, 227, 255);
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.6em;
  padding: 1px;
  color: white;
}

.hide {
  display: none;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  #goods {
    font-size: 0.9em;
    height: 120px;
  }
  .logo {
    width: 80%;
    margin-left: 30%;
  }
}

@media screen and (min-width: 270px) and (max-width: 400px) {
  #goods {
    font-size: 0.8em;
    height: 120px;
  }

  .logo {
    font-size: 2.6em;
    width: 70%;
    margin-left: 18%;
  }

  .circle {
    height: 13px;
  }
}
